<p>{{type}} page</p>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            New {{type}}
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">

            <span aria-hidden="true">
                ×
            </span>
        </button>
    </div>
    <div class="modal-body">
        <app-item-creator></app-item-creator>
    </div>
    <!-- <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">
            Save
        </button>
    </div> -->
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">
    + Add New {{type}}
</button>

<div class="items-box">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="25%" *ngFor="let item of itemPack; let i = index">
            <mat-card class="mat-elevation-z4">
                <mat-card-header>
                    <mat-card-title>{{type}} - {{i+1}}</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="{{item.attributes.image.imageUrl}}" (click)="openItem(itembox, item, i+1);"
                    style="cursor: pointer;">
                <mat-card-content>
                    <p>
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button (click)="openItem(itembox, item, i+1);">SHOW</button>
                    <button mat-button>DELETE</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>

<ng-template #itembox let-modal>
    <div class="modal-header">
        <span></span>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">

            <span aria-hidden="true">
                ×
            </span>
        </button>
    </div>
    <div class="modal-body">
        <app-item-display [itemBox]="item" [itemNo]="cardNo"></app-item-display>
    </div>
    <!-- <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">
            Update
        </button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">
            Edit
        </button>
    </div> -->
</ng-template>