<div class="content">
    <mat-card class="mat-elevation-z4">
        <mat-card-header>
            <mat-card-title>Himalayan Peaks</mat-card-title>
        </mat-card-header>
        <img mat-card-image
            src="https://firebasestorage.googleapis.com/v0/b/e-diary-1e542.appspot.com/o/E-Diary_Images%2Fno_image.png?alt=media&token=030fe8e0-09c5-4c32-a5e8-d3af795992eb">
        <mat-card-content>
            <p>
                a
            </p>
            <!-- <div *ngFor="let x of item">
                {{x.type}}
            </div> -->
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
</div>