<div class="content">
    <mat-card class="mat-elevation-z4">
        <mat-card-header>
            <mat-card-title>{{itemBox.type}} - {{itemNo}}</mat-card-title>
        </mat-card-header>
        <mat-card-subtitle>
            {{itemBox._id}}
        </mat-card-subtitle>
        <img mat-card-image src="{{itemBox.attributes.image.imageUrl}}">
        <mat-card-content>
            <div *ngFor="let attribute of attributes">
                <p>
                    {{attribute}}
                </p>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>EDIT</button>
            <button mat-button>MARK</button>
        </mat-card-actions>
    </mat-card>
</div>