<!-- <p>navbar-side works!</p> testing chunck -->
<ul class="nav-side-ul">
  <li routerLinkActive="active-nav-side"><a routerLink="home">Home</a></li>

  <!-- <li routerLinkActive="active-nav-side" (click)="toogleTag()"><a routerLink="searches">Searches</a>
    <ul *ngFor="let search of searches">
      <li *ngIf="showMe"><a routerLink="/view-property" ng>{{ search.name }}</a></li>
    </ul>
  </li> -->

  <li routerLinkActive="active-nav-side"><a routerLink="comparison">Comparison</a></li>
  <li routerLinkActive="active-nav-side"><a routerLink="#">Settings</a></li>
</ul>